
<div class="form-group">
    <label class="key-label" for="bit-value">Bit Length P :</label>
    <input class="form-control" id="bit-value" placeholder="1024">
</div>

<div class="form-group">
  <label class="form-label float-left" for="elgamal-pubkey">Public Key :</label>
  <textarea class="form-control" id="elgamal-pubkey" rows="10" spellcheck="false"></textarea>
</div>

<div class="form-group">
  <label class="form-label float-left" for="elgamal-prikey">Private Key :</label>
  <textarea class="form-control" id="elgamal-prikey" rows="10" spellcheck="false"></textarea>
</div>